@{
    ViewData["Title"] = "Carrinho";
}

<body style="background-color: #16161a;">


  <div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="display-4 my-5 text-white"><strong>Carrinho</strong></h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead style="background-color: rgb(43, 226, 119); color: white;">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Primeiro</th>
                      <th scope="col">Último</th>
                      <th scope="col">Nickname</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-white">
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>mdo</td>
                    </tr>
                    <tr class="text-white">
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>fat</td>
                    </tr>
                    <tr class="text-white">
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>twitter</td>
                    </tr>
                  </tbody>
                </table>
        </div>
    </div>
    
  </div>


</body>
