@{
    ViewData["Title"] = "Promoção";
}

<body style="background-color: #16161a;">

    <div class="container">
        <section>
            <div>
                <div class="row ">
                    <div class="col-12 text-center my-5">
                        <h1 class="display-4 text-white"><strong>Lorem Ipsum</strong></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 text-center d-flex align-items-center">
                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                           when an unknown printer took a galley of type and scrambled it to make a type 
                           specimen book. It has survived not only five centuries, but also the leap into 
                           electronic typesetting, remaining essentially unchanged. It was popularised in 
                           the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                           and more recently with desktop publishing software like Aldus PageMaker including 
                           versions of Lorem Ipsum.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-6">
                        <img style="width: 100%; height: 90%;" src="./img/logo-agencia-de-viagens.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <article>
            <div class="col-12 text-center my-4 mt-4">
                <h1 class="display-4 text-white">Promoções</h1>
            </div>
            <div class="row g-3">
                <div class="col-sm-6 col-md-4 col-lg-3 my-4">
                    <div class="card">
                        <img class="card-img-top" src="./img/londres.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <h6 class="card-title">R$ 00,00</h6>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <a href="#" class="btn btn-block text-white" style="background-color: rgb(43, 226, 119);">Adicionar ao carrinho</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-4">
                    <div class="card">
                        <img class="card-img-top" src="./img/paris.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <h6 class="card-title">R$ 00,00</h6>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <a href="#" class="btn btn-block text-white" style="background-color: rgb(43, 226, 119);">Adicionar ao carrinho</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-4">
                    <div class="card">
                        <img class="card-img-top" src="./img/rio.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <h6 class="card-title">R$ 00,00</h6>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <a href="#" class="btn btn-block text-white" style="background-color: rgb(43, 226, 119);">Adicionar ao carrinho</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-4">
                    <div class="card">
                        <img class="card-img-top" src="./img/foto-1.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <h6 class="card-title">R$ 00,00</h6>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <a href="#" class="btn btn-block text-white" style="background-color: rgb(43, 226, 119);">Adicionar ao carrinho</a>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row g-3">
                <div class="col-sm-6 col-md-4 col-lg-3 my-4">
                    <div class="card">
                        <img class="card-img-top" src="./img/roma.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <h6 class="card-title">R$ 00,00</h6>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <a href="#" class="btn btn-block text-white" style="background-color: rgb(43, 226, 119);">Adicionar ao carrinho</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-4">
                    <div class="card">
                        <img class="card-img-top" src="./img/foto-3.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <h6 class="card-title">R$ 00,00</h6>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <a href="#" class="btn btn-block text-white" style="background-color: rgb(43, 226, 119);">Adicionar ao carrinho</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-4">
                    <div class="card">
                        <img class="card-img-top" src="./img/londres.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <h6 class="card-title">R$ 00,00</h6>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <a href="#" class="btn btn-block text-white" style="background-color: rgb(43, 226, 119);">Adicionar ao carrinho</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 my-4">
                    <div class="card">
                        <img class="card-img-top" src="./img/rio.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <h6 class="card-title">R$ 00,00</h6>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <a href="#" class="btn btn-block text-white" style="background-color: rgb(43, 226, 119);">Adicionar ao carrinho</a>
                        </div>
                    </div>   
                </div>
            </div>
        </article>

    </div>

</body>


